@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    
    
    
    
}
main{
    width: 1200px;
    padding: 20px;
    margin: auto;
}



/* navigation */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.influencher-title h3{
    color: #E02C6D;
    font-size: 24px;
    font-weight: 700;
}
.navigation-var{
    display: inline-flex;
    align-items: center;
    
}
.navigation-var ul{
    display: flex;
}
.navigation-var ul li{
    list-style: none;
    margin: 0 10px;
}
.navigation-var ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 16px;
}
.nav-icon a{
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    font-size: 30px;

}



/* banner section */
.banner{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.banner-left h1{
    font-size: 52px;
    font-weight: 700;
}
.banner-left p{
    font-size: 16px;
}
.banner-button{
    font-size: 20px;
    background-color: #E02C6D;
    padding: 10px 25px;
    color: white;
    align-items: center;
    border-radius: 50px;
    border: 1px solid wheat;
    
    
    
}
.button-arrow .fa-arrow-right{
    padding-left: 10px;
    padding-top: -5px;
}
.banner-button:hover{
    background-color: grey;
    transform: scale(1.1);
    transition: tranform 0.3s;
    
}
.banner-right img{
   width: 100%;
   border-radius: 50px;
}


/* hr-row -logos */


.hr-raw{
    color: grey;
}
.logos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

/* poouler product */

.populer-title{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
}
.populer-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    
    gap: 50px;
    
   
}
.product-item{
    width: 300px;
    height: 450px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    line-height: 1em;
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
}
.product-item:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}

.porduct-img img{
    width: 300px;
    height: 260px;
    border-radius: 5px;
}
.product-name h2{
    font-size: 28px;
    font-weight: 500;
}
.product-price h2{
    font-size: 24px;
    font-weight: 400;
}
.rating .feild{
    height: 16px;
    width: 16px;
    color:#FB8200;
}
.rating .emty{
    height: 16px;
    width: 16px;
    color: rgba(128, 128, 128, 0.76);
}
.rating .rating-parsent{
   padding-left: 15px;
   font-weight: 700;
}
.product-discreption p{
    font-size: 14px;
    font-weight: 700;
}
.see-more{
    text-align: end;
    margin-top: 30px;
}
.see-more a{
    color:#E02C6D;
    text-decoration: none;
    padding: 20px;
    align-items: center;
    font-size: 20px;
    
}
.see-more-arrow{
    padding-left: 10px;
}


/* bounas-section */

.bounus-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 100px;
}
.bounas-section-img img{
    width: 80%;
}
.bounas-section-details h1{
    font-size: 50px;
    font-weight: 700;
}
.bounas-section-details h2{
    font-weight: 700;
    color:#E02C6D ;
}
.bounas-section-details button{
    background-color:#E02C6D;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: 1px solid grey;
    transition-duration: .5s;
}
.bounas-section-details button:hover{
    background-color: gray;
    transform: scale(1.1);
    transition: transform .3s ease-in;
}
.bounas-button-arrow{
    padding-left: 10px;
    font-size: 20px;
    
}

/* footer section */

footer{
    width: 100%;
    text-align: center;
    background-color: #0A0826;
    padding: 50px;
    margin-top: 50px;
    
    
}
footer h2{
    font-size: 24px;
    font-weight: 700;
    color: white;
}
footer p{
    color: white;
    font-size: 14px;
}
.footer-icon .icon{
    padding: 10px 10px;
    color: white;
}



/* responsive */


/* tab-responsive */


@media only screen and (max-width:992px) {
    main{
        width: 100%;
    }
    
    .populer-products{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px 0px;
    }
    .logos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        
    }


}

/* mobile responsive */

@media only screen and (max-width:688px) {
    
    main{
        width: 100%;
    }
    nav{
        justify-content: center;
    }
    .navigation-var ul{
        display: none;
    }
    .banner{
        display: grid;
        grid-template-columns: 1fr;
    }
    .banner-right{
        order: 1;
        width: 300px;
    }
    .banner-left{
        order: 2;
        width: 300px;
    }
    .banner-right img{
       width: 100%;
    }
    .logos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .populer-products{
        display: grid;
        grid-template-columns: 1fr;
        gap: 25px 0px;
    }
    .populer-title{
        font-size: 20px;
    }
    .bounus-section{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .bounas-section-details{
        width: 300px;
    }
   
    footer{
        width: 100%;
    }
}
